/* ChannelMenu */

.channel-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

.channel-menu > .profile {
    width: 30vw;
    height: 30vh;
    background-color: rgb(251, 255, 255);
    justify-content: center;
}

.channel-menu > .img {   
    width: 10vw;
    height: 10vw;
}

.channel-menu > .list {
    width: 30vw;
    height: 69vh;
    background-color: rgb(217, 219, 219);
}

.channel-menu > .search-menu {
    width:30vw;
    background-color: rgb(255, 255, 255);
    align-items: flex-start;
}

.channel-menu > .search {
    width:30vw;
    height: 6vh;
    background-color: rgb(217, 219, 219);
    align-items: center;
}

.channel-menu > .search-input {
    width: 28vw;
    height: 4vh;    
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 18px;
    padding-left: 10px;
    background-color: #ffffff;
}

.channel-menu > .list > .list-menu > .subscribed {
    overflow-x: auto;
    width: 30vw;
    background-color: white;
    margin-bottom: 10px;
    border-bottom: solid 1px #dfdddd;
    align-items: flex-start;
}

.channel-menu > .unsubscribed {
    width: 30vw;    
    overflow-x: auto;   
    background-color: white;
    align-items: flex-start;
}