/* ChatView */

.chat-view > .messages {
    scroll-behavior: auto;
}


.chat-view > .message {
    width: 70vw;    
    height: fit-content;
    display: flex;
}

.chat-view > .message0 {
    width: 50vw;    
    height: fit-content;
    margin: 10px;
}

.chat-view > .message1 {
    width: 50vw;   
    height: fit-content;
    margin: 10px;
}

.chat-view > .chat-dialog {
    width: 70vw;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.chat-view > .chat-input {
    width: 60vw;
    height: 40px;
    font-size: 16px;
}