/* ChatView */

.chat-view > .messages {
    scroll-behavior: auto;
}


.chat-view > .message {
    width: 70%;    
    height: fit-content;
    display: flex;
}

.chat-view > .message0 {
    width: 50%;    
    height: fit-content;
    margin: 10px;
}

.chat-view > .message1 {
    width: 50%;   
    height: fit-content;
    margin: 10px;
}

.chat-view > .chat-dialog {
    width: 80%;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
}

.chat-view > .chat-input {
    width: 70%;
    height: 40px;
    font-size: 16px;
}