/* Home */

.home {
    display: flex;
    flex-direction: row;
    background-color: #133987;
    width: 100%;
    height: 100vh;
}

.home > .channel-menu {
    width: 30vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.home > .channel-view {
    width: 70vw;
    height: 100vh;
    background-color: rgb(157, 158, 158);
}

/* ChannelMenu */

.channel-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.channel-menu > .profile {
    width: 100vw;
    height: 30vh;
    background-color: rgb(251, 255, 255);
    justify-content: center;
}

.channel-menu > .profile > .img {   
    width: 15vw;
    height: 15vw;
}

.channel-menu > .list {
    width: 30vw;
    height: 69vh;
    background-color: rgb(217, 219, 219);
}

.channel-menu > .search {
    width:30vw;
    height: 10vh;
    background-color: rgb(217, 219, 219);
}

.channel-menu > .search-input {
    width: 28vw;
    height: 4vh;    
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    padding-left: 10px;
    background-color: #ffffff;
}

.channel-menu > .list > .list-menu > .subscribed {
    overflow-x: auto;
    width: 28vw;
    background-color: white;
    margin-bottom: 10px;
    border-bottom: solid 1px #dfdddd;
    align-items: flex-start;
}

.channel-menu > .list > .list-menu > .unsubscribed {
    width: 28vw;    
    overflow-x: auto;   
    background-color: white;
    align-items: flex-start;
}

/* ChannelView */

.channel-view {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.channel-view > .display {
    justify-content: space-between;
    width: 70vw;
    height: 100vh;
    background-color: #d6d6d6;
}

.channel-view > .info {
    justify-content: space-between;
    width: 70vw;
    height: 10vh;
    background-color: #d6d6d6;
}

.channel-view > .horizontal-menu {
    width: 70vw;
    height: 90vh;
}

.channel-view > .chat {
    display: flex;
    background-color: #d3d3d3;
    width: 70vw;
    height: 100%;
}

.channel-view > .assignments {
    display: flex;
    background-color: #d3d0d0;
    width: 70vw;
    height: 100%;
}

/* .chat-view > .chat-messages {

} */

.chat-view > .chat-dialog {
    width: 70vw;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.chat-view > .chat-input {
    width: 60vw;
    height: 40px;
    font-size: 16px;
}
