/* NotificationsView */

.notifications-view {
    display: flex;
    scroll-behavior: auto;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    width: 70vw;
    height: 100%;
}

.notifications-view > .back {
    width: 70vw;
    height: 6vh;
    background-color: rgba(241, 241, 241);
    justify-content: center;
}

.notifications-view > .card-item {
    width: 65vw;    
    margin: 10px;
    height: fit-content;
    /* background-color: rgb(151, 240, 240);     */
}